<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <h1><%= pageHeader %></h1>
    <a href="/"> Home</a>
    <a href="/products/"> Products </a>
    <a href="/products/new"> Find new Products </a>

    <form action="/products" method="get">
        <input type="text" name="title"  placeholder="title">
        <label for="Product title"> </label>

        <input type="number" name="id" placeholder="id">
        <label for="id"></label>

        <input type="submit" value="Find">
    </form>
   

    <ul>
        <% data.find( (product, index) => { %>
        <li>
            <%= product.title %>:
            ID:$<%= product.id %>
        </li>
        <% }) %>
   </ul>

</body>
</html>